/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: #FFA500;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.texto-negro {
    color: #000;
}

/* ------------------------- */
/* Clases Fullpage.js */
/* ------------------------- */

#fp-nav ul li a span {
    background: #FFA500;
}

#fp-nav ul li .fp-tooltip {
    color: #FFA500;
}

/* ------------------------- */
/* Menu de navegación */
/* ------------------------- */

.nav {
/*
    background: #000000;
*/
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #c2c2c2;
    /*
    transition: .5s ease;
*/
}

.nav li.active {
    border-bottom: 2px solid #FFA500;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a {
    color: #FFA500;
}

.menu li.active a,
.menu li:hover a {
    color: #FFA500;
}

/* ------------------------- */
/* Header */
/* ------------------------- */

.header {
    // background: url("../images/slider3.jpg");
    background-position: center;
}

.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 70px;
    text-transform: uppercase;
}

.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: bajar-subir 1s ease infinite;
}

/* ------------------------- */
/* Animaciones */
/* ------------------------- */

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }

    25% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}

/* ------------------------- */
/* Slider */
/* ------------------------- */

.header article {
    background-position: center;
    background-size: cover;
}

.header article:nth-child(1) {
    background-image: url("../images/slider3.jpg");
}

.header article:nth-child(2) {
    background-image: url("../images/slider2.jpg");
}

.header article:nth-child(3) {
    background-image: url("../images/slider4.jpg");
}

/* ------------------------- */
/* Contactos */
/* ------------------------- */

.t-center {
	text-align: center;
}

.mt-10 {
	margin-top: 100px;
}

.item4-title {
    color: #f16821;
    font-size: 35px;
}

.mb-1 {
    display: block;
    margin-bottom: 4px;
}

.mb-2 {
    display: block;
    margin-bottom: 20px;
}

.bg-white {
    background: #FFFFFF;
}

.p-4 {
    padding: 48px;
}

.p-3 {
    padding: 38px;
}

.font-weight-1 {
    font-weight: 300;
}

.font-weight-2 {
    font-weight: 700;
}

.text-orange {
    color: #f16821;
    text-decoration: none;
}

.text-left {
	text-align: left;
}

.input,
.textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    height: 40px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.input:focus,
.textarea:focus {
    border-color: #E75D15;
}

.button {
    display: block;
    background-color: #f16821;
    border: 1px solid #f16821;
    padding: 8px 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.button:hover {
    cursor: pointer;
    background-color: #E75D15;
}

/* ------------------------- */
/* Responsive View */
/* ------------------------- */

@media screen and (max-width: 768px) {

    .menu li a,
    .menu li.active a {
        font-size: 18px;
    }

    .item4 h2 {
        font-size: 15px;
    }

    .item4 .redes-sociales {
        font-size: 30px;
    }

    .item4 .redes-sociales a {
        width: 70px;
        height: 70px;
    }

    .item4 .texto-naranja {
        font-size: 40px;
    }

}

@media screen and (max-width: 767px) {
	.separator {
        display: block;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 668px) {

    .header .titulo {
        font-size: 45px;
    }

    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev {
        top: 95%;
    }

    .fp-controlArrow.fp-prev {
        left: 80%;
        border-width: 20px 20px 20px 0;
        border-color: transparent #fff transparent transparent;
    }

    .fp-controlArrow.fp-next {
        right: 50px;
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #fff;
    }
}

@media screen and (max-width: 610px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    .fp-controlArrow.fp-next {
        left: 100px;
    }

    .fp-controlArrow.fp-prev {
        left: 25px;
    }

    .contenedor-icono {
        display: none;
    }
}

/* ------------------------- */
/* Estilos de la seccion item2 */
/* ------------------------- */

.mp-4 {
    margin-top: 80px;
}

.rounded-circle {
    border-radius: 50%;
}

.box {
    border-radius: 3px;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    transition: background .1s ease-in-out;
}

.box:hover {
    /*
	box-shadow: 2px 2px 2px 2px grey;
*/
    background: #E5E5E5;
}

.box svg {
    margin-bottom: 20px;
}

.box h1 {
    margin-bottom: 20px;
}

.box p {
    text-align: center;
}
